
<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Register Page</title>
    <style>
/*   
  body{
    background-color: #d2dae2;
  }
  ul{
    
    margin-left: 400px;
    padding: 15px;
  }
  li{
    color: #e74c3c;
    font-size: 20px;
  }
  h1{
      padding:15px;
      margin: auto;
      background-color: white;
      width: 30vw;
  }
  .container{
      padding-top: 30px;
      text-align: center;
      margin: auto;
      width: 20vw;
      border: black solid 1px;
  } */
  
  </style>
</head>
<body  >
  {% extends 'base.html' %}
  {% block content %}

  
    <h1 style="text-align: center;" >Edit Profile</h1><br><br><br>
    <div class="container">
     
  <form action="" method="POST" class="form-group">
      
      {% csrf_token %}
      {{form.as_p}}
      <br>
      <button type="submit" class="btn_register">Update Profile</button> <br><br>
      
      </form>
      <a href="{% url 'show_profile_page' %}"><button class="btn btn-success">Back</button> <br><br></a>
</div>


{% endblock %}
</body>
</html>